<div class="panel panel-default">
  <div class="panel-heading">{{ "CONFIG_UPLOAD_TITLE" | translate }}</div>
  <div class="panel-body">
    <div>{{ "CONFIG_UPLOAD_BODY" | translate }}</div>
    <div ngf-drop ngf-select ng-model="vm.file" class="drop-box" ngf-drag-over-class="'dragover'" accept=".json">{{ "UPLOAD_CONFIG" | translate }}</div>
    <div ngf-no-file-drop><small>{{ "UPLOAD_CONFIG_NOTSUPPORTED" | translate }}</small></div>
    <div>
      <a href="./resources/form.json" class="btn btn-info" download="form.json">{{ "SAMPLE_DOWNLOAD" | translate }}</a>
      <button type="button" class="btn btn-warning" ng-click="vm.release()" ng-disabled="!vm.releasable">{{ "RELEASE_CONFIG" | translate }}</button>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">{{ "DEBUGFORM_TITLE" | translate }}</div>
  <div class="panel-body">
    <div>{{ "DEBUGFORM_BODY" | translate }}</div>
    <div ng-repeat="category in vm.config.categories" class="template-dropdown">
      <div class="btn-group" uib-dropdown>
        <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
          {{ category.name }}<span ng-if="$index == vm.categoryNo"> : {{ category.templates[vm.templateNo].name }}</span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li ng-repeat="template in category.templates" role="menuitem"><a ng-click="vm.select($parent.$index, $index)">{{ template.name }}</a></li>
        </ul>
      </div>
    </div>
    <form name="debugform" ng-submit="vm.submit()" novalidate>
      <fieldset class="form-group">
        <label>
          {{ "DEBUGFORM_URL" | translate }}:
          <input type="text" ng-model="vm.form.url" name="form.url" class="form-control" required="true" ng-maxlength="4096">
        </label>
        <div class="warning" ng-show="debugform['form.url'].$error.required">{{ "DEBUGFORM_URL_REQUIRED" | translate }}</div>
        <div class="warning" ng-show="debugform['form.url'].$error.maxlength">{{ "DEBUGFORM_URL_MAXLENGTH" | translate }}</div>
      </fieldset>
      <fieldset class="form-group">
        <label>
          {{ "METHOD" | translate }}:
          <select name="form.method" ng-model="vm.form.method" class="form-control">
            <option value="GET">GET</option>
            <option value="HEAD">HEAD</option>
            <option value="POST">POST</option>
            <option value="PUT">PUT</option>
            <option value="DELETE">DELETE</option>
            <!-- <option value="TRACE">TRACE</option> -->
            <option value="OPTIONS">OPTIONS</option>
            <!-- <option value="CONNECT">CONNECT</option> -->
            <option value="PATCH">PATCH</option>
          </select>
        </label>
      </fieldset>
      <fieldset class="form-group">
        <label>
          {{ "HEADERS" | translate }}:
          <textarea ng-model="vm.form.headers" name="form.headers" class="form-control" rows="2" validate-json="true"></textarea>
        </label>
        <div class="warning" ng-show="debugform['form.headers'].$error.validateJson">{{ "INVALID_JSON" | translate }}</div>
        <div><small>※ ヘッダーは現状設定しても有効になりません</small></div>
      </fieldset>
      <fieldset class="form-group">
        <label>
          {{ "BODY" | translate }}:
          <textarea ng-model="vm.form.body" name="form.body" class="form-control" rows="3" validate-json="{{ vm.form.json }}" ng-disabled="vm.form.method == 'GET' || vm.form.method == 'HEAD'"></textarea>
        </label>
        <div class="warning" ng-show="debugform['form.body'].$error.validateJson">{{ "INVALID_JSON" | translate }}</div>
      </fieldset>
      <div>
        <button type="submit" class="btn btn-primary btn-lg" ng-disabled="debugform.$invalid">{{ "SUBMIT" | translate }}</button>
        <button type="button" class="btn btn-warning" ng-click="vm.reset()">{{ "RESET" | translate }}</button>
      </div>
    </form>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">{{ "RESULT" | translate }}</div>
  <div class="panel-body">
    <fieldset class="form-group">
      <span class="result-label">{{ "STATUS" | translate }}:</span>
      {{ vm.response.status }} {{ vm.response.statusText  }}
    </fieldset>
    <fieldset class="form-group">
      <label>
        {{ "BODY" | translate }}:
        <textarea ng-model="vm.response.data" name="response.data" class="form-control" rows="3" readonly></textarea>
      </label>
    </fieldset>
  </div>
</div>
  